*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    background-color: #b4d0de;
    overflow-x: hidden;  
    
}
a{
    padding: 5px;
    border-radius: 6px;
}

nav a:hover{
    background-color:#0aa682;
}
.scroll-container{
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    width: 100vw;
    height: 100vh;
}
.scroll-area{
    scroll-snap-align: start;
}



.button{
    background-color:#d23662;
    border: none;
    font-family: 'Poppins',sans-serif;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #b4d0de;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
}

.logo{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width:30%;
}

.nav-links li{
    list-style: none;
    font-size: 25px;
}

.nav-links a{
    color:#fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bolder;
    font-size: 14px;
}

.burger{
    display: none;
}


.burger div{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition:all 0.3s ease ;
}

.opener{
    display: flex;
    height: 92vh;
    
}


.col-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 40vw;
}

.col-1 h1{
    font-size: 60px;
    color: #d23662;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
}

.col-2{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60vw;
    
}

.content{
    width: 70%;
    color:#fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.col-2 img{
    height: 90vh;
    
}

.middle{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background-color: #0aa682;
    padding-bottom: 20px;

}

.middle .row1,.row2{
    display: flex;
}

.part-1{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 50vw;
    height: 50vh;
    
}

.inner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    min-width: 80vh;
    color: #fff;
    border-radius: 0vw 25vw 25vw 0vw;
    background-color:rgb(0, 34, 184);
}


.part-2{
    margin: 20px;
    padding: 50px;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#d23662;
    color: white;
    font-size: 25px;
    
    
}
.row2 .part-1{
    justify-content: flex-end;
}
.row2 .part-1 .inner{
    border-radius: 25vw 0vw 0vw 25vw;


}
.row2 .part-2{
    background-color: #d23662;
}

.row2 .part-1{
    align-items: center;
}

.curve{
    height: 100vh;
    background-color:#d03360;
}

.inner-curve{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:#d03360;
    border-radius: 0 0 50vw 50vw;
    border-top: 0;
}

.inner-curve h1{
    font-size: 70px;
    color: white;
    font-family: 'Poppins',sans-serif;
}

.circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
}

.circle-container .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
    border: 5px solid rgb(3, 90, 189);
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    background-color:rgb(158, 227, 255);
}

.circle-container img{
    height: 100px;
    width: 100px;
}

@media screen and (max-width:1046px){
    .scroll-container{
        overflow-y: auto;
        scroll-snap-type: none;
        width: 100vw;
        height: 100vh;
    }
    body{
        overflow-x: hidden;
    }
   .nav-links{
       width: 60%;
   }
   .col-1{
       min-width: 100vw;
   }
   
   .col-2{
       display: none;
   }
   .row1{
       flex-direction: column;
   }
   .part-1,.row2 .part-1{
       justify-content: center;
   }
   .inner{
       min-width: 45vh;
       min-height: 45vh;
   }
   .part-2{
       font-size: 1.3rem;
   }
   .middle{
       padding-top: 20px;
       padding-bottom: 20px;
   }

   .row1 .part-1 .inner,.row2 .part-1 .inner{
        border-radius: 50%;
        width: 50vh;
        height: 50vh;
    
   }
   
   .row2{
       flex-direction: column-reverse;
   }
   .col-2 img{
       width: 0;
       height: 0;
   }
   
    
}

@media screen and (max-width:768px){
    .col-1 .content{
        font-size: 15px;
    }
    .part-2{
        font-size: 15px;
        min-width: auto;
        min-height: auto;
    }
    body{
        overflow-x: hidden;
    }
    .col-1{
        padding: 20px;
    }
    .col-1 h1{
        font-size: 30px;
    }
    content{
        min-width: 100vw;
    }
    .nav-links{
        z-index: 1;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #b4d0de;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .inner-curve{
        align-items: center;
    }
    .inner-curve h1{
        font-size: 30px;
    }
    .inner-curve br{
        display: none;
    }
    .circle-container{
        flex-direction: column;
        align-items: space-around;
        justify-content: flex-start;
        height: 90vh;
        padding: 20px;
    }
    .circle-container .circle{
        min-height: 20vh;
        min-width: 20vh;
        font-size: 25px;
    }
    .circle-container img{
        display: none;
    }
   
}


.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);

}
.toggle .line2{
    opacity: 0;
    
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
    
}