{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class="top">
    <h1>About Us</h1>
</div>
<div class="information">
    <div class="imag">
        <h1>Our Team</h1>
    </div>
    <div class="info">
        <div class="personal">
            <div class="pic-circle"></div>
            <div class="things">
                <h2>Sagar Abhyankar</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, consectetur.</p>
            </div>

        </div>
        <div class="personal">
            <div class="pic-circle"></div>
            <div class="things">
                <h2>Shubham Vetal</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, libero!</p>
            </div>
        </div>
        <div class="personal">
            <div class="pic-circle"></div>
            <div class="things">
                <h2>Samir Hendre</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, totam.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}