{%extends 'base.html'%}
{%block content%}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <br><br>
            <h3>Product added to Cart Successfully</h3>
            <h2 style="font-weight: bolder; color :rgb(6, 185, 6)">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-cart3"
                    viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                My Cart
            </h2>
            <br>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart.cartproduct_set.all %}
                    <tr>
                        <td><img src="{{item.product.image.url }}" width="100px"></td>
                        <td>{{ item.product.title }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{item.product.selling_price}}</td>
                        <td>{{ item.subtotal }}</td>
                        <td>
                            <a href="{%url 'ecomapp:managecart' item.id%}?action=inc" class="btn btn-primary">+</a>
                            <a href="{%url 'ecomapp:managecart' item.id%}?action=dec" class="btn btn-warning"> -</a>
                            <a href="{%url 'ecomapp:managecart' item.id%}?action=rem" class="btn btn-danger">Remove</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

                {% if cart.cartproduct_set.all %}
                <a href="{% url 'ecomapp:checkout' %}">
                <button class="btn btn-info">Proceed to buy</button>
                </a>
                {% endif %}
                <br><br>
                {%endblock%}