{%extends 'base.html'%}

{%block title %}{{product.title}}{%endblock%}

{%block content%}
<div class = "container">
    <h3>{{product.title}}</h3>
    <p>{{product.description}}</p>
   <script type = "text/javascript">
       var price = {{product.selling_price}};
       var new_price = {{product.marked_price}};
       var discount = new_price - price;
       document.write("<h3>Total Discount: " + discount + "</h3>");
    </script>
    <p>{{product.warranty}}</p>
    <img src = "{{product.image.url}}">
    <button><a href="{%url 'ecomapp:addtocart' product.id%}">Add to Cart</a></button>
    <button><a href="">Buy Now!</a></button>
</div>

{%endblock%}