<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles-home.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="{% static 'images/TheLocalCartlogo.png'%}" width="90px">
        </div>
        <ul class="nav-links" style="width: 50vw;">
            <li>
                <a href="{% url 'ecomapp:home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'ecomapp:shop' %}">Shop</a>

            </li>
            <li>
                <a href="{% url 'ecomapp:customerLogout' %}">logout</a>
            </li>
            <li>
                <a href="{% url 'ecomapp:about' %}">About</a>
            </li>
            
            <li>
                <a href="{% url 'ecomapp:cart' %}">View Cart</a>
            </li>
            <li>
                {% if request.user.seller %}
                <a href="{% url 'ecomapp:sellerprofile' %}">Profile</a>
                {% endif %}
                {% if request.user.customer %}
                <a href="{% url 'ecomapp:customerprofile' %}">Profile</a>
                {% endif %}
            </li>
           
            <li>
                <span><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg></span>
            </li>
            <li>
                {% if request.user.customer %}
                <p style="color : black;">{{ request.user.username }}</p>
                {% endif %}
                {% if request.user.seller %}
                <p style="color : black;">{{ request.user.username }}</p>
                {% endif %}
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
    </nav>

    <div class="reg-container">
        <h1>What kind of profile do you want to create</h1>
        <br><br><br>
        <div class="buttonContainer">
            <button class="button"><a href="register-customer/" style="text-decoration: none; color: white;"><h2>Customer</h2></a></button>
            
            <button class="button"><a href="register-seller/" style="text-decoration: none; color: white;"><h2>Seller</h2></a></button>
        </div>

    </div>

    <script src="{% static 'app.js' %}" ></script>
    
</body>
</html>