{% extends 'base.html' %}
{% block title %}Seller-admin{% endblock %}
{% block content %}
<a href="{%url 'ecomapp:add-product'%}" class = "btn btn-success">Add product to your shop</a>
<br> <br>
 {% if allproducts %}
    
    <h2>Your Shop Products</h2>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Current Stock </th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    {% for product in allproducts %}
                        <tr>
                            <td>{{ product.title }}</a></td>
                            <td>{{ product.selling_price}}</td>
                            <td>{{ product.stock}}</td>
                            
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2>You don't have any products yet...</h2>
        {% endif %}
        <tbody>
            {% for order in allorders %}
                <tr>
                    <td>{{ order.ordered_by }}</a></td>
                    <td>{{ order.shipping_address}}</td>    
                </tr>
            {% endfor %}
        </tbody>
    </div>
{% endblock %}