.container-item{
    display: flex;
}
.prod-info{
    position: relative;
    background-color:#0aa682 ;
    height: 92vh;
    width: 50vw;
    
}
.prod-desc{
    color: white;
    position: relative;
    top: 60px;
    left: 40px;
}
.prod-image{
    height: 92vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prod-info h1{
    color: white;
    font-size: 70px;
    position: relative;
    top: 40px;
    left: 40px;
}
.prod-image img{
    object-fit: contain;
}
.button_container{
    position: relative;
    top: 90px;
    left: 40px;
}
.button_container a{
    text-decoration: none;
    color: white;
}


